.gradle
.DS_Store
.classpath
.project
.settings
*.class
*.swp
*.bak
*.iml
*.zip
build
dist
/.idea
/*.ipr
/*.iws
log.txt
captures
gradle.properties
import-summary.txt
local.properties
.idea/vcs.xml
upload.sh

